.browsefilter {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  background-color: var(--bgMain);
}

.browse-filter h4 {
  margin:5px 0;
}


.browse-platforms #platforms-input {
  height: 44px;
  background-color: rgba(33, 43, 69, 20%);
  border: none;
  outline: none;
  color: var(--textMain);
  font-family: "Motiva Sans";
  padding-inline: 5px;
  width: 100%;
  background-image: url("/assets/constants/searchWhite.png");
  background-size: 7%;
  background-position: 98% center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.browse-platforms #platforms-input::placeholder {
  color: var(--colorSecondary);
  font-family: "Motiva Sans";
}

.platforms-list ul {
  display:flex;
  flex-direction: column;
  gap:5px;
  margin:0;
  padding:0;
  max-height: 120px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.platforms-list .browse-platform {
  display:flex;
  align-items: center;
  gap:5px;
  padding: 3px 10px;
    transition: 0.3s all;
    cursor: pointer;
    border-radius: 3px;
}
.platforms-list .browse-platform:hover {
  background-color: var(--bgHover);
}
.platforms-list .browse-platform img{
  width:20px;
}

.platforms-more {
  background: transparent;
  outline: none;
  border: none;
  color: var(--textDim);
  cursor: pointer;
  transition: color 0.3s;
}

.platforms-list ul.platforms-more-enabled {
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.selectedPlatforms {
  width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.selectedPlatforms button {
  background-color: var(--bgHover);
    border: none;
    outline: none;
    color: var(--textMain);
    padding: 8px 13px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectedPlatforms span {
  color: var(--textDim);
    cursor: pointer;
}