.browsefilter {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  background-color: var(--bgMain);
}

.browsefilter h4 {
  margin:5px 0;
}

.browsefilter input {
  height: 44px;
  background-color: rgba(33, 43, 69, 20%);
  border: none;
  outline: none;
  color: var(--textMain);
  font-family: "Motiva Sans";
  padding-inline: 5px;
  width: 100%;
  background-image: url("/assets/constants/searchWhite.png");
  background-size: 7%;
  background-position: 98% center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.browsefilter input::placeholder {
  color: var(--colorSecondary);
  font-family: "Motiva Sans";
}

.browsefilter ul {
  margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.browsefilter ul.max-height {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.browsefilter ul.more-enabled {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.browsefilter ul.more-enabled-platforms {
  max-height: 1200px;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
}
.browsefilter ul li {
  display:flex;
  align-items: center;
  width:100%;
}

.browsefilter ul li .item {
  width: 100%;
    padding-inline: 10px;
    transition: 0.3s all;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    height: 24px;
    align-items: center;
    gap: 5px;
}

.browsefilter ul li .item:hover {
  background-color: var(--bgHover);
}

.browsefilter ul li .item .games-count {
  color:var(--textDim);
}

.browsefilter ul li img {
  width:20px;
}


.browsefilter .more-button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--textDim);
  cursor: pointer;
  transition: color 0.3s;
}
.browsefilter .more-button:hover {
  color: var(--textMain);
}

.browsefilter .selected-items {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.browsefilter .selected-items button {
  background-color: var(--bgHover);
  border: none;
  outline: none;
  color: var(--textMain);
  padding: 8px 13px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.browsefilter .selected-items span {
  color: var(--textDim);
  cursor: pointer;
}