.browse-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:15px;
  scroll-behavior: smooth;
}

.browse-container a {
  text-decoration: none;
  color:var(--textMain);
}

.browse-game {
  width: 100%;
  display: flex;
  background-color: var(--bgMain);
  padding:15px;
  border-radius: 5px;
}


.browse-game-meta h4 {
  margin: 0; 
  line-height: normal;
}

.browse-game-image {
  max-width: 300px;
  width:100%;
  display:flex;
}
.browse-game-image a {
  display:flex;
}
.browse-game-image img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius:5px;
}

.browse-game-body {
  display: flex;
  width:100%;
  padding-left:15px;
  justify-content: space-between;
}

.browse-game-meta {
  display: flex;
  flex-flow: column;
  gap:5px;
}

.browse-game .ratings {
  margin-top:5px;
  width:330px;
}

.browse-game-release {
  display: flex;
}
.browse-game-release span {
  line-height: normal;
  color: var(--textDim);
}

.browse-game-cart {
  display:flex;
  width:30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height:100%;
}
.browse-game-cart svg {
  cursor: pointer;
}
.browse-game-cart svg:hover path:first-child {
  fill:white;
  transition:0.2s fill ease-in-out;
  cursor: pointer;
}

.browse-game-cart .browse-addtocart span {
  font-weight:bold;
}

.browse-game-cart .browse-addtocart {
  display:flex;
  align-items: center;
  gap:10px;
  flex-wrap:wrap;
  justify-content: center;
}

.browse-container .page-selection {
  display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.page-selection .selection-button {
  border:none;
  outline:none;
  background-color: var(--bgHighlight);
  width:80px;
  height:30px;
  color:var(--textMain);
  cursor: pointer;
  border-radius: 3px;
}
.page-selection .selection-button:hover {
  background-color:var(--bgHover);
  transition: 0.2s ease-in-out;
}


.page-selection .inactivePage {
  border:none;
  outline:none;
  background-color: var(--bgHighlight);
  width:80px;
  height:30px;
  color:var(--textMain);
  cursor: pointer;
  border-radius: 3px;
  opacity:0.2;
}


@media only screen and (max-width:1100px) {
  .browse-game {
    flex-direction: column;
    height:fit-content;
  }

  .browse-game-image {
    max-width:initial;
  }

  .browse-container {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(277px, 1fr) )
  }

  .browse-game-body {
    flex-direction: column;
    padding-left:0;
  }

  .browse-game-meta h4 {
    margin-top:5px;
    line-height: normal;
}
.browse-rating {
  display:flex;
  flex-direction: column;
}
  .browse-game .ratings {
    width: 100%;
    margin-top:0;
    row-gap: 5px;
    column-gap: 8%;
    margin-bottom:5px;
}

.browse-game .ratings .rating{
 width:initial;
}

.browse-game-cart {
  width:100%;
  flex-direction: row;
}
}