.subnav {
  display: flex;
  min-height: 55px;
  align-items: center;
}

.subnav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-links a.active {
  background-color: var(--colorSecondary);
}
.sub-links a {
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.sublink {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s all;
}

.sublink:hover {
  background-color: var(--colorSecondary);
}

.sub-search {
  width: 100%;
  max-width: 25%;
}

.subnav .cart {
  margin-left: auto;
}

@media only screen and (max-width: 700px) {
  .sub-links {
    display: none;
  }

  .sub-search {
    max-width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .subnav {
    display: none;
  }
}
