#vasco {
    padding-block:50px;
}

#vasco #profile-video {
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#vasco .profile {
    backdrop-filter: blur(20px);
    padding:40px;
    background-color: #0e141bab;
    border-radius:5px;
    
}

.profile-header {
    width:100%;
    justify-content: space-between;
    display:flex;
}

.profile-avatar {
    display:flex;
    gap:30px;
    
}

.profile-avatar-name p {
    margin: 5px 0px;
    font-size: 12px;
}

.avatar {
    width:140px;
    height:140px;
    position:relative;
    pointer-events: none;
}

.avatar img {
    pointer-events: none;
}

.avatar .avatar-border {
    position:absolute;
    transform: scale(1.34);
    pointer-events: none;
}

.profile-level {
    display:flex;
    flex-direction: column;
    gap:15px;
    width:280px;
}

.profile-level .level {
    display:flex;
    align-items: center;
    gap:10px;
}

.profile-level .level h2{
    font-weight:200;
}

.profile-level .level .level-number {
    border:2px solid #fecc23;
    border-radius:50%;
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-level .profile-badge {
    border-radius:5px;
    background-color:#0e141bab;
    display:flex;
    align-items: center;
    gap:10px;
    padding:10px;
}

.profile-badge .badge {
    display:flex;
}

.badge img {
    width:50px;
}

.profile-badge .badge-exp {
    display:flex;
    flex-direction: column;
    font-size:14px;
}