#browse {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(32, 43, 60) 30%, rgb(32, 43, 60) 100%), url("/assets/browse/background.png");
  padding-block: 50px;
}

#browse .swiper-pagination {
  display: none !important;
}

#browse .browse-steam {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#browse .browse-game-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.browse-filter {
  width: 100%;
  max-width: 300px;
}

.browse-games {
  width: 100%;
}
