#gamedetails {
  padding-block: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.gamedetails-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gameintro {
  width: 100%;
  background: var(--bgMainOpaque);
  border-radius: 5px;
  padding: 25px;
}

.gamedetails-content {
  width: 100%;
  display: flex;
  gap: 15px;
}

.gamedetails-main {
  width: 70%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.gamedetails-aside {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.box {
  background-color: var(--bgMainOpaque);
  padding: 25px;
  border-radius: 5px;
}

.gamedetails-aside h3 {
  color: gray;
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gamedetails-feature-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gamedetails-feature {
  background-color: var(--bgHighlight);
  border-radius: 3px;
  height: 34px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-inline: 20px;
  color: var(--colorPrimary);
}

.gamedetails-feature img {
  width: 20px;
}

.gamedetails-feature-container h5 {
  margin: 0;
}

.gamedetails-languages p {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--colorSecondary);
}


@media only screen and (max-width:1000px) {
  .gamedetails-content {
    flex-direction: column-reverse;
  }
  .gamedetails-aside {
    flex-direction: row;
    flex-wrap:wrap;
  }

  .gamedetails-aside .box {
    width:49%;
  }
  .gamedetails-main {
    width:100%;
  }
}

@media only screen and (max-width:800px) {
  .gamedetails-aside .box {
    width:100%;
  }
}

@media only screen and (max-width:650px) {
  .gamedetails-main .gamedetails-dlc .game-price, .gamedetails-main .gamedetails-price .game-price{
    flex-direction: column;
    gap:10px;
    text-align: center;
  }

  .gamedetails-main .game-price-details {
    flex-direction: column;
  }
}